
# ringcentral apps

## bots
RINGCENTRAL_BOT_CLIENT_ID=
RINGCENTRAL_BOT_CLIENT_SECRET=

## user
RINGCENTRAL_USER_CLIENT_ID=
RINGCENTRAL_USER_CLIENT_SECRET=

## common
RINGCENTRAL_SERVER=https://platform.devtest.ringcentral.com
RINGCENTRAL_BOT_SERVER=https://xxx.ngrok.io

## for google cloud api crendential path
GOOGLE_APPLICATION_CREDENTIALS=

## DATABASE
DYNAMODB_TABLE_PREFIX=ringcentral_ai_bot
DYNAMODB_REGION=us-east-1

## change to dynamodb if wanna use dynamodb
DB_TYPE=FILEDB


## server config
PORT=7867
HOST=localhost
